<div class="container">
    <h3 class="text-center justify-content-center">Edit Review</h3>
    <form class="row g-3 border m-4 p-3" action="/reviews/edit/<%= review.id %>?_method=PUT" method="post">
        <div class="col-md-6">
            <label for="restaurantname" class="form-label">Restaurant Name</label>
            <select class="form-control" id="exampleFormControlSelect1" name="restaurantName">
                <% restaurants.forEach((restaurant) => { %>
                    <option><%= restaurant.name %> </option>
                <% }) %> 
            </select>
        </div>
        <div class="col-md-6">
            <label for="mealtype" class="form-label">Meal Type</label>
            <input type="text" class="form-control" id="mealType" name="mealType" value="<%= review.mealType %>">
        </div>
        <div class="col-md-4">
                <label for="formControlRange">Rating</label>
                <input type="range" class="form-control-range" id="formControlRange" name="stars" min="1" max="5" step="1" onInput="$('#rangeval').html($(this).val())" value="<%= review.stars %>">
                <span id="rangeval">3<!-- Default value --></span>
        </div>
        <div class="col-md-12">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description"><%= review.description %></textarea>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary m-2">Submit</button>
        </div>
    </form>
</div>